.fa-bell {
  font-size: 0.8em;
}

.delete-trust {
  margin: 1.4em 0;
}

.custom-btn {
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 14px;
}

.banner {
  margin: 2% 8.5% 0 8.5%;
  margin-right: 0px;
  margin-left: 0px;
  margin-bottom: 20px;
  margin-top: 0px;

  #hide {
    float: right;
  }
}

.foot {
  margin: 10px 0 0 0;
  clear: both;
  padding: 0;
  background: @lightgray;

  a,div {
    display: block;
    padding: 15px 40px;
    text-align: center;
    color: @darkblue;
    border: 1px solid @lightgray;
  }

  a {
    text-decoration: none;
    color: @black;

    &:hover {
      background: @lightgray;
      border: 1px solid @midgray
    }
  }
}

.currency_sets {
  .label {
    margin: 10px 0;
    font-size: 18px;
    color: @black;
  }
  .alternatives {
    list-style-type: none;
    font-family: 'OpenSansLight';

    & > div {
      text-align: center;
      padding-top: 10px;

      .am {
        padding: 12px 0;
        border: 1px solid @midgray;
        border-bottom: none;
        .border-radius(5px,0,0,5px);

        .amnt {
          font-size: 30px;
          padding: 0 8px 0 0;
        }
        .currency {
          font-size: 20px;
          color:  @darkgray;
        }

        .ex {
           color: @darkgray;

           .pair {
             margin-left: 5px;
             font-size: 12px;
           }
        }
      }
      .btn {
        .border-radius(0,5px,5px,0);
        margin: 0;
      }
    }
  }
  .pathupdate {
    font-size: 12px;
    color: @darkgray;
    margin-top: 10px;
  }
}

.save-address-form {
  form {
    max-height: 0;
    overflow: hidden;
    .transition-duration(0.6s);
    margin: 0;

    &.show {
      max-height: 300px;
    }

    input {
      width: 300px;
    }

    .btn {
      width: 150px;
      margin: 0 20px 0 0;
    }

    hr {
      margin: 15px 0 0 0;
    }
    .add-contact-btns-wrapper {
      .btn {
        width: 100%;
      }
    }
  }
}

#t-intro {
  #topMarkets {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  .market {
    position: relative;
    flex: 1;
    margin: .5%;
  }
  .market:hover{
    border-color: #249;
    box-shadow: 0 0 5px #36c, inset 0 0 3px #36c;
  }
  .market a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .title {
    text-align: center;
  }
  iframe {
    height: 280px;
    margin: .5%;
    border: none;
    width: 99%;
  }
}

#t-orderbook {

  @bg: @white;

  .btn-group {
    margin-bottom: -1px;

    .btn {
      width: 120px;
    }
    .btn:first-child {
      .border-radius(0, 0, 0, 4px);
    }
    .btn:last-child {
      .border-radius(4px, 0, 0, 0);
    }
  }

  .issuerSelector, .message-select-issuer {
    padding: 15px;
    border: 1px solid darken(@bg, 10%);
    border-top: none;
    border-bottom: none;
    background: @bg;
  }

  .settings {
    padding: 15px;
    border: 1px solid darken(@bg, 10%);
    border-bottom: none;
    background-color: darken(@bg, 2%);
    .issuers-wrapper {
      display: inline-block;
    }
    button {
      &.btn-block {
        outline: none;
      }
    }
  }

  .message-select-issuer {
    line-height: 25px;
    font-size: 16px;
    font-family: 'OpenSansRegular';
    text-align: center;

    border-bottom: 1px solid darken(@bg, 10%);
  }

  .ticker {
    margin: 0 0 30px;
    padding: 5px 15px;
    border: 1px solid darken(@bg, 10%);
    border-top: none;
    background-color: darken(@bg, 5%);
    list-style-type: none;
    @media (max-width: @screen-xs-max) {
      font-size: 11px;
    }
    .value {
      font-weight: bold;
    }
  }

  .order-type {
    p.literal {
      margin: 0;
      line-height: 48px;
    }
  }

  .mode-form {
    .order-values {
      .sign {
        text-align: center;
        margin: 40px 0 0 0;
      }
      .error {
        margin-bottom: 0;
        height: 0;
        overflow: visible;
      }

      .input-group-addon {
        color: @white;
        background-color: @midgray;
        padding: 0 10px;
        min-width: 70px;

        .issuer {
          font-size: 10px;
        }
      }
    }
    .message {
      color: @midgreen;
      height: 40px;
    }
    .btns-row {
      .btns-wrapper {
        float: none;
        margin: 0 auto;
      }
    }
  }

  .mode-confirm {
    text-align: center;

    .title {
      margin: 30px 0;
    }

    .amount_feedback {
      font-size: 30px;
      margin: 50px 0 0 0;
    }

    .dest_feedback {
      font-size: 30px;
      margin: 0 0 10px 0;
    }

    .rate_feedback {
      margin: 0 0 30px 0;
      color: @darkgray;
      font-size: 18px;

      .pair {
        margin-left: 5px;
        font-size: 14px;
      }
    }
  }

  h3 {
    margin-top: 30px;
  }

  .toggle {
    margin-left: 10px;
    color: @midblue;
    cursor: pointer;
  }

  .toggle:hover {
    text-decoration: underline;
  }

  .listings {
    padding: 0 15px;
    border: 1px solid darken(@bg, 10%);
    background: @bg;

    transition: 0.2s;
    max-height: 0;

    .my {
      .head {
        font-weight: bold;
      }
      .row:first-child {
        border-top: none;
      }
      .row {
        border-top: 1px solid @lightgray;

        &:nth-child(even) {
          background-color: darken(@bg, 2%);
        }

        & > div {
          padding: 8px;
          border-right: 1px solid @lightgray;
        }

        & > div:last-child {
          text-align: right;
          border-right: none;
        }

        .issuer {
          color: lighten(@black,70%);
          font-size: 11px;
        }

        @media (max-width: @screen-xs-max) {
          border: none;
          padding: 4px;

          & > div {
            padding: 4px;
            border: none;
          }

          div:before {
            display: inline-block;
            width: 100px;
            font-weight: bold;
            content: " "attr(data-label);
          }
        }
      }
    }

    .emptyMessage {
      margin: 10px 0;
    }
  }

  .alert-danger .dismiss {
    margin:0 5px;
    color:darken(@midred, 10%);
  }

  .alert-danger .dismiss:hover {
    color:darken(@midred, 30%);
  }

  .listings.offers {
    max-height: 1000px;
    overflow: auto;
  }

  .listings.orders {
    max-height: 9999px;
    overflow: auto;
  }

  .orderbook {
    @media (max-width: @screen-xs-max) {
      font-size: 10px;
    }
    .title {
      margin: 0 -15px 15px -15px;
      font: bold 15px 'OpenSansRegular';
      text-transform: uppercase;
      background: darken(@bg, 5%);
      padding: 10px;
      text-align: center;
    }
    .head {
      font: 15px 'OpenSansRegular';
      margin-bottom: 10px;

      .currency {
        color: @darkgray;
      }
    }

    .my {
      font-weight: bold;
      color: @darkgreen;

      .insig {
        color: @darkgreen;
        font-weight: normal;
      }

      .delete {
        margin: 0 10px 0 0;

        text-decoration: none;
      }
    }

    @media (min-width: @screen-xs-max) {
      .bids {
        border-right: 3px solid darken(@bg, 20%);
      }
      .asks {
        border-left: 3px solid darken(@bg, 20%);
      }
    }

    @media (max-width: @screen-xs-max) {
      .asks {
        border-top: 6px solid @midgray;
        padding-top: 10px;
      }
    }

    .bids, .asks {
      .row {
        padding: 5px 0;
        text-align: right;

        &:nth-child(odd) {
          background-color: darken(@bg, 5%);
        }
      }

      background-color: darken(@bg, 2%);
    }

    a {
      color: inherit;
    }

    .message {
      text-align: center;
    }

    .issuer {
      font-size: 10px;
      color: @darkgray;
    }
  }

  .cancelling {
    color: lighten(@black,70%);

    .action a {
      display: none;
    }
  }

  .slash {
    padding-top: 25px;
    font-size: 24px;
  }

}

header nav.navbar .open > .dropdown-menu {
  background-color: @lightgray;
}

.dropdown-menu  {
  padding: 0;

  > li > a {
    color: @midblue;
    padding: 12px 20px;
  }
  li {
    a {
      i {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-image: url(../img/icons-dropdown.png);
        background-repeat: no-repeat;
        display: inline-block;
        vertical-align: top;
        &.icon-profile {
          background-position: 0 0;
        }
        &.icon-settings {
          background-position: -20px 0;

        }
        &.icon-logout {
          background-position: -40px 0;
        }
      }
    }
  }
  .divider {
    margin: 0;
  }
}

html.t-orderbook header nav ul > li.active#nav-advanced > a:after {
  border-bottom-color: @lightgray;
}
